<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
  </head>
  <body>
    <input type="text" name="" id="folder-location-txt"> <br><br>
    <input type="button" value="Refresh" id="read-folder-btn">

    <div class="folders">
      
    </div>
    
    <!-- You can also require other files to run in this process -->
    <script src="./script/filemanager.js"></script>
  </body>
</html>
